/.build/
/vendor/
/node_modules/
/composer.lock

/tests/Application/yarn.lock
/tests/Application/config/reference.php

/.phpunit.cache

# Symfony CLI https://symfony.com/doc/current/setup/symfony_server.html#different-php-settings-per-project
/.php-version
/php.ini

/.claude/
/.mcp.json
